<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--标准的日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--开启驼峰命名转换-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="com.ruoyu.bean"/>
    </typeAliases>

    <mappers>
        <mapper class="com.ruoyu.mapper.AdminMapper"/>
        <mapper class="com.ruoyu.mapper.BookInfoMapper"/>
<!--        <mapper class="com.ruoyu.mapper.ClassInfoMapper"/>-->
        <mapper class="com.ruoyu.mapper.LendListMapper"/>
        <mapper class="com.ruoyu.mapper.ReaderCardMapper"/>
        <mapper class="com.ruoyu.mapper.ReaderInfoMapper"/>
    </mappers>

</configuration>